/* ====================1285px - 1390px==================== */
@media only screen and (max-width: 1390px) {
  .main-nav .nav {
    display: flex;
    justify-content: center;
  }
}

/* ====================768px - 1284px===================== */
@media only screen and (max-width: 1284px) {
  /* ===== ABOUT SECTION ===== */
  .main-nav .nav {
    /* visibility: hidden; */
    display: none;
  }

  .header-area .main-nav {
    padding: 20px;
  }

  .mobile-nav-icon {
    visibility: visible;
    font-size: 200%;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .main-nav .nav.toggle-on {
    display: block;
    -webkit-animation: aniToggle 0.8s ease-in forwards;
            animation: aniToggle 0.8s ease-in forwards;
  }

  @-webkit-keyframes aniToggle {
    from {
      height: 0;
      visibility: hidden;
      opacity: 0;
    }
    to {
      height: 100px;
      visibility: visible;
      opacity: 1;
    }
  }

  @keyframes aniToggle {
    from {
      height: 0;
      visibility: hidden;
      opacity: 0;
    }
    to {
      height: 100px;
      visibility: visible;
      opacity: 1;
    }
  }
}

/* =====================671px - 767px===================== */
@media only screen and (max-width: 767px) {
  p {
    font-size: 80%;
  }

  h1 {
    font-size: 150%;
  }

  /* ===== CONTACT SECTION ===== */
  .contact-form textarea {
    width: 90%;
  }

  .contact-form input {
    width: 90%;
  }

  /* ===== HEADER ===== */
  .heading-main-box {
    transform: translate(0%, -100%);
  }
}

/* ======================481px - 670px====================== */
@media only screen and (max-width: 670px) {
  p {
    font-size: 75%;
  }

  h1 {
    font-size: 100%;
  }

  /* ===== CONTACT SECTION ===== */

  .contact-form textarea {
    width: 80%;
  }

  .contact-form input {
    width: 80%;
  }
}

/* ======================0px - 480px====================== */
@media only screen and (max-width: 480px) {
}
