/* ====================1391px - 1550px==================== */
@media only screen and (max-width: 1550px) {
  html {
    font-size: 16px;
  }
  /* .main-nav .nav {
    margin-right: %;
  }   */
}

/* ====================1051px - 1390px==================== */
@media only screen and (max-width: 1390px) {
  .main-nav .nav {
    display: flex;
    justify-content: center;
  }  
}

/* ====================768px - 1050px===================== */
@media only screen and (max-width: 1250px) {
/* ===== ABOUT SECTION ===== */
  .main-nav .nav {
    /* visibility: hidden; */
    display: none;
  }
  
  .header-area .main-nav {
    padding: 20px;
  }

  .mobile-nav-icon {
    visibility: visible;
    font-size: 200%;
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

/* =====================671px - 767px===================== */
@media only screen and (max-width: 767px) {
  p {
    font-size: 80%;
  }

  h1 {
    font-size: 150%;
  }

  /* ===== CONTACT SECTION ===== */
  .contact-form textarea {
    width: 90%;
  }

  .contact-form input {
    width: 90%;
  }

  /* ===== HEADER ===== */
  .heading-main-box {
    transform: translate(0%, -100%);
  }
}

/* ======================481px - 670px====================== */
@media only screen and (max-width: 670px) {

  p {
    font-size: 75%;
  }

  h1 {
    font-size: 100%;
  }

/* ===== CONTACT SECTION ===== */

  .contact-form textarea {
    width: 80%;
  }

  .contact-form input {
    width: 80%;
  }
}

/* ======================0px - 480px====================== */
@media only screen and (max-width: 480px) {

}

